[Unit]
Description=Monitor usbclean and control leds.

[Service]
ExecStart=/usr/local/bin/monitor.sh
Restart=always
TimeoutSec=0

[Install]
WantedBy=default.target
